<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.martinmimigames.simplefileexplorer"
  a:versionCode="15"
  a:versionName="4.13">

  <uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission
    a:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission a:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <application
    a:icon="@drawable/folder"
    a:label="Little File Explorer"
    a:requestLegacyExternalStorage="true"
    a:resizeableActivity="true"
    a:theme="@style/app_theme.default"
    tools:targetApi="n">

    <provider
      a:name=".FileProvider"
      a:authorities="com.martinmimigames.simplefileexplorer.FileProvider"
      a:exported="true"
      a:grantUriPermissions="true" />

    <activity
      a:name=".MainActivity"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MAIN" />
        <category a:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action a:name="android.intent.action.GET_CONTENT" />
        <action a:name="android.intent.action.OPEN_DOCUMENT" />

        <data a:mimeType="*/*" />

        <category a:name="android.intent.category.DEFAULT" />
        <category a:name="android.intent.category.OPENABLE" />
      </intent-filter>
    </activity>

  </application>
</manifest>